<div id="header">Add Projects</div>


<div>Name</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText"
           placeholder="Project Name Example">
</div>

<div>Type</div>
<div style="margin:.5%">
    <input type="radio" name="type" value="Capital">Capital
    <input type="radio" name="type" value="Expense">Expense
</div>

<div>Status</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText"
           placeholder="Active">
</div>

<div>Manager</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText"
           placeholder="Sandesh Sachidanand ">
</div>

<div>Director</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText"
           placeholder="Satish Subramanian ">
</div>

<div>Project Manager</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText"
           placeholder="Tony Gunady ">
</div>

<div>Users</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText1"
           >
</div>

<div>Activities</div>
<div id='search-text-input'>
    <input type = "text"
           id = "myText1"
            >
</div>

 
<b>Create Stage</b>
<div id="container" style="width:100%;">                               
    <div id="left"> Name<br>
        <input type="text" name="Name" place holder="Stage Name Q1"> 
    </div>  
             
    <div id="right"> Budget<br>
        <input type="text" name="Budget" place holder="$85,000">
    </div> 

    <br>
   
    <div id="left"> Start Date<br>
        <input type="text" name="Start Date" place holder="January 1,2018"> 
    </div> 
      
             
    <div id="right">End Date<br>
        <input type="text" name="End Date" place holder="April 1,2018">
    </div> 
</div> 




<div id="right">
<button>Add Stage</button>
<br>
   <span> <button>Cancel</button></span>
   <span> <button>Save</button></span>
    </div>

    

