<!--The content below is only a placeholder and can be replaced.-->
<head>
        <link rel="stylesheet" type="text/css" href="app.component.css"
</head>

      <div id="header">
        <h1>Time Card System</h1>
      </div>
      
      <div>
        <ul id="navbar">
        
            <li><a routerLink="/timecard">Time Card</a></li>
            <li><a routerLink="/project">Projects</a></li>
            <li><a href="#">Users/Roles</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Calender</a></li>
        </ul>
      </div>
      

      


