#header{
	width:100%;
	height: 80px;
    background:#1B80B5;
    color:white
}

#navbar
{ padding: 0px;
    margin: 0px;
    
}
#navbar>li{width:254px;list-style: none;float:left;}
li>a{
    display: block;
    color:white;
    line-height: 40px;
    text-align:center;
    font-family: cursive;
    font-size:20px;
    text-decoration:none;
    background-color:#414141;
}


